/* Общие селекторы */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e3e1e1;
}

h2{
    font-weight: normal;
    font-size: 40px;
}

.welcome,
.features,
.footer {
    width: 1366px;
    margin: 0 auto;
}


/* Хедер */

.welcome {
    height: 716px;
}

.welcome img {
    width: 66%;
    height: 100%;
}

.welcome .title {
    box-sizing: border-box;
    width: 34%;
    height: 100%;
    float: right;
    padding: 54px;
    background-color: #f3f3f3;
}

.welcome .title a {
    display: block;
    width: 33px;
    height: 29px;
    background: url("../img/menu-btn.png") no-repeat 50% 50%;
    margin-bottom: 68px;
}

.welcome .title h2 span:nth-child(1) {
    font-weight: 300;
}

.welcome .title h2 span:nth-child(3) {
    font-weight: bold;
}

.welcome p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
}


/* Основное содержание */

.features {
    height: 853px;
    font-weight: 350;
    font-size: 16px;
    line-height: 28px;
}

.features .features-1 {
    box-sizing: border-box;
    height: 100%;
    width: 615px;
    float: left;
    
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 100px;
    
    
    background: #1b7186 url("../img/features-1.png") no-repeat 0 0;
    
    color: #e9f3f5;
}

.features h2 {
    font-weight: 300;
    font-size: 45px;
}

.features .features-1 h2 span {
    font-weight: bold;
}

.features .features-1 p {
    margin-bottom: 74px;
}

.feature-23 {
    box-sizing: border-box;
    float: right;
    height: 50%;
    width: 751px;
    padding-left: 55px;
    padding-top: 65px;
    padding-right: 160px;
}

.feature-2 {
    background: url("../img/features-2.png") no-repeat;
}

.feature-23 span{
    font-weight: 700;
}

.feature-23 button {
    box-sizing: border-box;
    height: 50px;
    width: 210px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: transparent;
}

.feature-3  button {
    color: white;
    border: 1px solid white;
}

.feature-3 {
    background: url("../img/features-3.png") no-repeat;
    color: white;
}

.feature-3 p {
    color: #a2a7aa;
}

/* Футер */

.footer {
    height: 715px;
}

.footer-left-column {
    box-sizing: border-box;
    float: left;
    width: 458px;
    height: 100%;
    background: url("../img/footer-left-column.png") no-repeat;
    padding-top: 70px;
    padding-left: 45px;
    overflow: hidden;
}

.footer-left-column h2 {
    line-height: 60px;
    color: white;
    font-weight: 300;
}

.footer-left-column span {
    font-weight: bold;
}

.footer-left-column div {
    margin-top: 250px;
    width: 90px;
    height: 90px;
    background: url("../img/logo.gif") no-repeat;
    border: 1px solid black;
    border-radius: 9px;
}

.footer-left-column p {
    position: relative;
    top: -30px;
    font-size: 16px;
    color: white;
    font-weight: 300;
}

.footer-right-column {
    box-sizing: border-box;
    padding-top: 70px;
    padding-left: 45px;
    float: right;
    width: 908px;
    height: 100%;
    background: url("../img/footer-right-column.png") no-repeat;
}

.footer-right-column h2 {
    color: white;
}

.footer-right-column span {
    font-weight: 700;
} 

.footer-right-column .lit-form {
    box-sizing: border-box;
    width: 300px;
    height: 45px;
    margin-right: 10px;
    padding-bottom: 10px;
}

.footer-right-column .name {
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    margin-bottom: 13px;
    padding-left: 25px;
    outline: none;
    color: darkgrey;
    padding-top: 10px;
}



.footer-right-column .big-form {
    box-sizing: border-box;
    width: 610px;
    height: 160px;
}

.social-btns span {
    display: inline-block;
    color: white;
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 30px;
    margin-right: 50px;
}

.say-hello button {
    width: 400px;
    height: 50px;
    border: 1px solid white;
    border-radius: 30px;
    position: relative;
    left: 110px;
    background: transparent;
    color: white;
    margin-bottom: 110px;
}

button:hover {
    background-color: rgba(133, 133, 133, 0.4);
    transition: background-color 0.5s;
}

.footer .name:hover {
    background-color: rgba(50, 50, 50, 0.4);
    transition: background-color 0.5s;
}

.footer .name:focus {
    background-color: rgba(64, 95, 193, 0.1);
}

.footer .btn {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 5px;
    margin-bottom: 0px;
    position: relative;
    top: 10px;
    left: 90px;
}

.btn-fb {
    background: url("../img/fb.png") no-repeat;
}

.btn-ball {
    background: url("../img/ball.gif") no-repeat;
}

.btn-tw {
    background: url("../img/tw.png") no-repeat;
}